# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
index.android.bundle

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Bundle artifacts
*.jsbundle

/app/src/main/res/drawable-*/node_modules_*
/app/src/main/res/raw/node_modules_*
